/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box; 
    padding: 0;
    margin: 0;
  }
  
/* fonts */

@font-face {
    font-family: "Patta font";
    src: url(../fonts/Patta.ttf);
  }
  
  @font-face {
    font-family: "Patta bold";
    src: url(../fonts/Helvetica\ Neue\ LT\ 75\ Bold.ttf)
  }
  
  @font-face {
    font-family: "Patta footer";
    src: url(../fonts/Helvetica\ Neue\ LT\ 55\ Roman.ttf)
  }
  
  @font-face {
    font-family: "Patta product";
    src: url(../fonts/Helvetica\ Neue\ LT\ 45\ Light.ttf)
  }


/* header */

header ul {
    display: flex;
    margin-top: 3em;
    right: 8em;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
  }
  
  header ul li:nth-of-type(2) img {
    display: block;
    width: 7em;
    margin-left: 5em;
  }

  header ul li:nth-of-type(2) img:hover {
    transform: rotate(360deg) scale(0.5);
    transition: 1s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
  }
  
  header ul div{
    display: flex;
    flex-direction: row;
  
  }
  
  header ul li {
    cursor: url(../images/rec.png), auto;
  }
  
  header ul div li img {
    width: 1.5em !important;
    margin: 2em 1em auto !important;
  }

  @media (max-width: 426px) {
    header ul div li:nth-of-type(2) img {
      display: none !important;
    }
  }

/* hover iconen rechtsboven */ 
  header ul div li img:hover {
    transform: scale(1.5) !important;
    transition: .2s ease-in-out !important;
  }
  
  header ul li:first-of-type div{
    position: absolute;
    display: block;
    z-index: 2;
    cursor: pointer;
    margin-left: 1em;
  }

  header ul li:first-of-type div.kruisje span:nth-of-type(2) {
    display: none;
  }
  
  header ul li:first-of-type div.kruisje span:first-of-type {
    top: 1.1em;
    transform: rotate(45deg);
    width: 2em;
  }
  
  header ul li:first-of-type div.kruisje span:last-of-type {
    transform: rotate(-45deg);
    width: 2em;
  }
  
  header ul li:first-of-type div span {
    display: block;
    width: 1em;
    height: 0.1em;
    background-color: black;
    transition: 0.5s;
    position: relative;
  
  }
  header ul li:first-of-type div span:nth-of-type(2) {
    top: .5em;
  }
  
  header ul li:first-of-type div span:last-of-type{
    top: 1em;
  }
  
  header ul li:first-of-type div:hover span {
    width: 2em;
  }
  
  header div:nth-child(2) {
    position: fixed;
    left: -25em;
    top: 0;
    display: block;
    width: 25em;
    height: 100%;
    margin: 0;
    background-color: white;
    transition: 0.5s;
  }
  
  header div:nth-child(2).open {
    left: .5em;
    z-index: 1;
  }
  
  header ul li ul li {
    font-family: "Patta footer";
    font-size: 0.5em;
    margin: 1em 0;
  }
  
  header ul li ul {
    margin-top: 0 !important;
  }
  
  header div:nth-child(2) ul {
    font-family: 'Patta bold';
    font-size: 1.4em;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;
  }
  
  header div ul li:first-child ul {
    display: none;
  }
  
  header div ul li:first-child.klap ul {
    display: block;
  }
  /* navbar */
  nav ul {
    overflow: auto;
    white-space: nowrap;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    grid-area: nav;
  }
  
  nav ul li {
    font-family: "Patta bold";
    color: #969696;
    padding: 1.25em;
    font-size: 0.875em;
    width: 100%;
    grid-area: nav;
  }
  
main section:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
  
main section:first-of-type h1 {
    display: flex;
    flex-wrap: nowrap;
    max-width: 14em;
    margin-top: 1em;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Patta font";
    font-size: 3.5em;
}

main > section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main  > section  >article:first-of-type {
    position: relative;
    margin: 1em;
    padding-bottom: 0.5em;
}


main section article:first-of-type h2 {
    position: absolute;
    font-family: "Patta font";
    top: 2em;
    left: 1em;
    font-size: 1em;
    margin: 0;
    color: #383838;
    transition: .5s ease;
    opacity: 0;
}

main > section > article:first-of-type p {
    position: absolute;
    font-family: "Patta font";
    display: block;
    width: 8em;
    font-size: 1.5em;
    top: 2em;
    left: 0.4em;
    text-align: center;
    color: black;
    transition: .5s ease;
    opacity: 0;
}

main section article:first-of-type img {
    display: block;
    width: 90%;
    max-width: 18em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

main section article:first-of-type:hover img {
    opacity: 0.3;
}

main section > article:first-of-type:hover h2, main section > article:first-of-type:hover p {
    opacity: 1;
}

main section article:nth-of-type(2) {
    position: relative;
    margin-left: 10%;
}

main section article:nth-of-type(2) img {
    display: block;
    width: 20em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
    animation: big 2s infinite;
    animation-timing-function: ease;
}

main section article:nth-of-type(2) h2 {
    position: absolute;
  font-family: "Patta bold";
  font-size: 0.8em;
  text-transform: uppercase;
  left: 1em;
  padding: 0.4em;
  top: 1.375em;
  box-sizing: border-box; 
  border: 0.125em solid black;
}

main section article:nth-of-type(2):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(2):hover h2, main section article:nth-of-type(2):hover p{
    opacity: 1;
  }
  
main > section > article:nth-of-type(2) p {
    box-sizing: border-box;
    height: 1em;
    width: 5.375em;
    position: absolute;
    font-family: "Patta font";
    bottom: 1em;
    top: 2.5em;
    left: 1.5em;
    font-size: 2em;
    text-transform:uppercase;
    color: black;
    transition: .5s ease;
    opacity: 0;
  }

/* product 2 */

main section article:nth-of-type(3) {
    position: relative;
    margin-top: 2em;
}

main section article:nth-of-type(3) img {
    display: block;
    width: 20em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
    animation: turn 2s infinite;
    animation-timing-function: ease;
}

main section article:nth-of-type(3) h2 {
    position: absolute;
    font-family: "Patta bold";
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    left: 1em;
    padding: 0.4em;
    top: 1.375em;
    box-sizing: border-box; 
    border: 0.125em solid black;
    background-color: black;
}

main section article:nth-of-type(3):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(3):hover h2, main section article:nth-of-type(3):hover p{
    opacity: 1;
  }
  
main section article:nth-of-type(3) p {
    box-sizing: border-box;
    height: 1em;
    width: 6em;
    position: absolute;
    font-family: "Patta font";
    bottom: 1em;
    top: 2em;
    left: 0.5em;
    font-size: 2em;
    text-transform:uppercase;
    color: black;
    transition: .5s ease;
    opacity: 0;
  }

/* product 3 */

main section article:nth-of-type(4) {
    position: relative;
    margin: 1em;
    padding-bottom: 0.5em;
}

main section article:nth-of-type(4) img {
    display: block;
  width: 18em;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

main section article:nth-of-type(4) h2 {
    position: absolute;
    font-family: "Patta font";
    top: 2em;
    left: 1em;
    font-size: 1em;
    margin: 0;
    color: #383838;
    transition: .5s ease;
    opacity: 0;
}

main section article:nth-of-type(4):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(4):hover h2, main section article:nth-of-type(4):hover p{
    opacity: 1;
  }
  
main section article:nth-of-type(4) p {
    position: absolute;
  font-family: "Patta font";
  display: block;
  width: 2em;
  font-size: 2em;
  top: 1.7em;
  left: 0.5em;
  text-align: center;
  color: black;
  transition: .5s ease;
  opacity: 0;
  }

/* product 4 */

main section article:nth-of-type(5) {
    position: relative;
    margin-top: 2em;
}

main section article:nth-of-type(5) img {
    display: block;
    width: 20em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
}

main section article:nth-of-type(5) h2 {
    position: absolute;
    font-family: "Patta bold";
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    left: 1em;
    padding: 0.4em;
    top: 0.375em;
    box-sizing: border-box; 
    border: 0.125em solid black;
    background-color: black;
}

main section article:nth-of-type(5):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(5):hover h2, main section article:nth-of-type(5):hover p{
    opacity: 1;
  }
  
main section article:nth-of-type(5) p {
    box-sizing: border-box;
    height: 1em;
    width: 10em;
    left: 2em;
    position: absolute;
    font-family: "Patta font";
    bottom: 8em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
    transition: .5s ease;
    opacity: 0;
  }

/* product 5 */

main section article:nth-of-type(6) {
    position: relative;
    margin-top: 2em;
}

main section article:nth-of-type(6) img {
    display: block;
    width: 20em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
}

main section article:nth-of-type(6) h2 {
    position: absolute;
    font-family: "Patta bold";
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    left: 1em;
    padding: 0.4em;
    top: 0.375em;
    box-sizing: border-box; 
    border: 0.125em solid black;
    background-color: black;
}

main section article:nth-of-type(6):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(6):hover h2, main section article:nth-of-type(6):hover p{
    opacity: 1;
  }
  
main section article:nth-of-type(6) p {
    box-sizing: border-box;
    height: 1em;
    width: 10em;
    left: 2em;
    position: absolute;
    font-family: "Patta font";
    bottom: 8em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
    transition: .5s ease;
    opacity: 0;
  }

  /* product 6 */ 

  main section article:nth-of-type(7) {
    position: relative;
    margin-top: 2em;
}

main section article:nth-of-type(7) img {
    display: block;
    width: 20em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
}

main section article:nth-of-type(7) h2 {
    position: absolute;
    font-family: "Patta bold";
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    left: 1em;
    padding: 0.4em;
    top: 0.375em;
    box-sizing: border-box; 
    border: 0.125em solid black;
    background-color: black;
}

main section article:nth-of-type(7):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(7):hover h2, main section article:nth-of-type(7):hover p{
    opacity: 1;
  }
  
main section article:nth-of-type(7) p {
    box-sizing: border-box;
    height: 1em;
    width: 10em;
    left: 2em;
    position: absolute;
    font-family: "Patta font";
    bottom: 8em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
    transition: .5s ease;
    opacity: 0;
  }

/* product 7 */

main section article:nth-of-type(8) {
    position: relative;
    margin-top: 2em;
}

main section article:nth-of-type(8) img {
    display: block;
    width: 39em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
}

main section article:nth-of-type(8) h2 {
    position: absolute;
    font-family: "Patta bold";
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    left: 1em;
    padding: 0.4em;
    top: 0.375em;
    box-sizing: border-box; 
    border: 0.125em solid black;
    background-color: black;
}

main section article:nth-of-type(8):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(8):hover h2, main section article:nth-of-type(8):hover p{
    opacity: 1;
  }
  
main section article:nth-of-type(8) p {
  box-sizing: border-box;
  height: 5em;
  width: 10em;
  left: 5em;
  position: absolute;
  font-family: "Patta font";
  bottom: 10em;
  font-size: 2em;
  text-transform: uppercase;
  color: black;
  transition: .5s ease;
  opacity: 0;

  }

  main section article:nth-of-type(9) {
    position: relative;
    margin-top: 2em;
    align-self: flex-start
}

main section article:nth-of-type(9) img {
    display: block;
    width: 20em;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 0;
}

main section article:nth-of-type(9) h2 {
    position: absolute;
    font-family: "Patta bold";
    font-size: 0.8em;
    color: white;
    text-transform: uppercase;
    left: 1em;
    padding: 0.4em;
    top: 0.375em;
    box-sizing: border-box; 
    border: 0.125em solid black;
    background-color: black;
}

main section article:nth-of-type(9):hover img {
    opacity: 0.3;
  }
  
main section article:nth-of-type(9):hover h2, main section article:nth-of-type(9):hover p{
    opacity: 1;
  }
  
main section article:nth-of-type(9) p {
    box-sizing: border-box;
    height: 1em;
    width: 10em;
    left: 2em;
    position: absolute;
    font-family: "Patta font";
    bottom: 8em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
    transition: .5s ease;
    opacity: 0;
  }

@media (max-width: 450px) {

    main > section article:nth-of-type(2) {
        margin: 0;
    }

    main section:first-of-type h1 {
      font-size: 2em;
    }
}

@media (min-width: 375px) {
    main section article {
        margin: 2em auto !important;
    }
}

@media (max-width: 1024px) { 
  main section article:nth-of-type(8) img {
    width: 20em;
  }
}
@media (max-width: 768px) {

    main > section {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }

    main section article:nth-of-type(8) {
        position: relative;
        margin-top: 2em;
    }
    
    main section article:nth-of-type(8) img {
        display: block;
        width: 20em;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin: 0;
    }
    
    main section article:nth-of-type(8) h2 {
        position: absolute;
        font-family: "Patta bold";
        font-size: 0.8em;
        color: white;
        text-transform: uppercase;
        left: 1em;
        padding: 0.4em;
        top: 0.375em;
        box-sizing: border-box; 
        border: 0.125em solid black;
        background-color: black;
    }
    
    main section article:nth-of-type(8):hover img {
        opacity: 0.3;
      }
      
    main section article:nth-of-type(8):hover h2, main section article:nth-of-type(8):hover p{
        opacity: 1;
      }
      
    main section article:nth-of-type(8) p {
        box-sizing: border-box;
        height: 5em;
        width: 10em;
        left: 2em;
        position: absolute;
        font-family: "Patta font";
        bottom: 8em;
        font-size: 1.5em;
        text-transform: uppercase;
        color: black;
        transition: .5s ease;
        opacity: 0;
    
      }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer section:first-of-type {
    background-color:#0f0f0f;
    width: 50%;
}

footer section:nth-of-type(2) {
    background-color: black;
    width: 50%;
}

footer section {
    font-family: "Patta footer";
    color: white;
    padding: 0em
}

footer section div {
    width: 90%;
    max-width: 25em;
    margin: 5em 10% 5em auto;
}

footer section:first-of-type div img {
    width: 10em;
}

footer section:first-of-type div img:hover {
  animation: footer 5s;
}


footer section div p {
    font-size: 1.5em;
    line-height: 1.5em;
}

footer section div p a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

footer section div p a::after {
  bottom: 0;
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: .75s ease 0s, left .75s ease 0s;
  width: 0;
}

footer section div p a:hover::after {
  width: 100%; 
  left: 0; 
}



footer section:first-of-type div p:nth-of-type(2):hover {
    font-family: "Patta bold";
    text-decoration: underline;
    transition: 3s;
}


footer section:nth-of-type(2) div {
    margin: 5em auto 5em 10%;
}

footer section:nth-of-type(2) div ul {
    margin-top: 4em;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-family: "Patta bold";
    list-style-type: none;
    text-transform: uppercase;
}

footer section:nth-of-type(2) div ul div {
    margin: 0;
    padding: 0;
}

footer section:nth-of-type(2) div ul div li {
    margin-bottom: 1em !important;
}

footer section form input {
    margin: 0;
    font-family: 'Patta footer';
    font-size: 1em;
    color: #383838;
    background-color: transparent;
    border: 1px;
    outline: none;
    border-bottom: 1px solid #383838;
    width: 10em;
    transition: .35s ease-in-out;
}

footer section form input:focus {
  width: 30em;
}
footer section:nth-of-type(2) div form p {
    font-family: "Patta bold"
}

footer section:nth-of-type(2) div ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

footer section:nth-of-type(2) div ul li a::after {
  bottom: 0;
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: .75s ease 0s, left .75s ease 0s;
  width: 0;
}

footer section:nth-of-type(2) div ul li a:hover::after {
  width: 100%; 
  left: 0; 
}



@media (max-width: 1000px) {
    footer section:first-of-type {
        display: none;
    }

    footer section:nth-of-type(2) {
        width: 100%;
    }

    footer section:nth-of-type(2) div {
        margin: auto;
        margin-top: 2em;
    }

    footer section:nth-of-type(2) div ul {
        flex-direction: column;
    }
}

/*********************************** PRODUCT PAGINA BEGINT HIET *********************************/ 

#productmain > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#productmain > section div:first-of-type {
  width: 50%;
}

#productmain > section > div:nth-of-type(2) {
  padding: 0 5%;
  width: 50%;
}

#productmain section div:nth-of-type(2) div:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0em;
}



#productmain > section div img {
  width: 100%;
}

#productmain > section div img:hover {
  animation: big 2s;
}

 #productmain section div:nth-of-type(2) h1 {
  font-family: "Patta bold";
  color: #3a3a3a;
  font-size: 2.5em;
  margin: 1em 0em;
}

#productmain section div:nth-of-type(2) section h2 {
  font-family: "Patta product";
  color: #3A3A2E;
  font-size: 2em;
  padding-bottom: .5em;
  border-bottom: 8px solid black;
  width: 100%
  
}

#productmain section div:nth-of-type(2) section h2:hover {
  font-family: "Patta product";
  color: #3A3A2E;
  font-size: 2em;
  padding-bottom: .5em;
  border-bottom: 8px solid black;
}

#productmain section div:nth-of-type(2) section div button {
  flex-grow: 1;
  flex: 0 0 25%;
  box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px;
  font-family: "Patta bold";
  font-weight: bold;
  font-size: 1em;
  padding: 1em 0em;
  background-color: white;
  border: none;
  cursor: url(../images/rec.png), auto;
}


#productmain section div:nth-of-type(2) section div button:hover {
  border: 2px solid black;
  transition: .2s;
}

#productmain section div:nth-of-type(2) section div button:focus {
  background-color: black;
  color: white;
  transition: .5s;
}

#productmain > section div:nth-of-type(2) section div:nth-of-type(2) {
  width: 100%
}

#productmain section div:nth-of-type(2) section div:nth-of-type(2) button {
  outline: none;
  background-color: black;
  color: white;
  font-family: "Patta bold";
  font-size: 1em; 
  margin: 0;
  width: 100%;

}

#productmain section div:nth-of-type(2) section div:nth-of-type(2) button:hover {
  border: 1px solid black;
  background-color: white;
  color: black;
  width: 100%;
  transform: scale(1.1);
  transition:  all 0.35s ease-in-out;
}

#productmain section div:nth-of-type(2) section:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
  cursor: url(../images/rec.png), auto;
  margin-bottom: 1em;
}

#productmain section div:nth-of-type(2) section:nth-of-type(2) ul li {
  font-family: "Patta bold";
  font-size: 1em;
  margin: 2em 0 0 0;
  padding: 0 3em 1em;
}

/* Description */

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:first-of-type {
  font-family: "Patta product";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 1em;
}

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:first-of-type p:nth-of-type(2) {
  white-space: pre-line;
}

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:first-of-type ul li {
  list-style-type: none;
}

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:first-of-type ul li:first-of-type {
  line-height: 5em;
}

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:first-of-type ul li:last-child {
  font-family: "Patta bold";
}

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:nth-of-type(2) {
  font-family: "Patta product";
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin-top: 1em;
  line-break: strict;
  display: none;
}

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:nth-of-type(2) p:first-of-type, #productmain section div:nth-of-type(2) section:nth-of-type(3) article:nth-of-type(2) p:last-child {
  font-family: "Patta bold";
}

#productmain section div:nth-of-type(2) section:nth-of-type(3) article:nth-of-type(2) p {
  white-space: pre-line;
}


#productmain section div:nth-of-type(2) section:nth-of-type(3) img {
  margin-top: 1em;
  display: none;
}


/* Javascript classes */ 

.description {
  border-bottom: 2px solid black;
  color: black;
  width: 33%;
  transition: .5s
}

.description-white {
  border-bottom: 2px solid #d6d6d6;
  color: #d6d6d6;
  width: 33%;
}

.payment {
  border-bottom: 2px solid black;
  color: black;
  width: 33%;
  transition: .5s
}

.payment-white {
  border-bottom: 2px solid #d6d6d6;
  color: #d6d6d6;
  width: 33%;
}

.shipping {
  border-bottom: 2px solid black;
  color: black#d6d6d6;
  width: 33%;
  transition: .5s
}

.shipping-white {
  border-bottom: 2px solid #d6d6d6;
  color: #d6d6d6;
  width: 33%;
}

.elementHidden {
  display: none !important;
}

.elementShow {
  display: initial !important;
}


@media (max-width: 1000px) {
  #productmain > section {
    margin: 1em 0 0 0;
    flex-direction: column;
  }
  
  #productmain > section div:first-of-type {
    width: 75%;
    align-self: center;
  }

  #productmain > section > div:nth-of-type(2) {
    width: 100%;
  }

  #productmain > section div:nth-of-type(2) section:nth-of-type(3) {
    margin-bottom: 1em;
  }
}

@media (max-width: 550px) {
  #productmain section {
    margin: 1em 0 0 0;
    flex-direction: column;
  }
  
  #productmain > section div:first-of-type {
    width: 100%;
    align-self: center;
  }

  #productmain > section > div:nth-of-type(2) {
    width: 100%;
  }

  #productmain section div:nth-of-type(2) section:nth-of-type(2) ul li {
    font-size: .8em;
  }

  #productmain > section div:nth-of-type(2) section:nth-of-type(3) {
    margin-bottom: 1em;
  }
  
}

@media (max-width: 325px) {
  #productmain section {
    margin: 1em 0 0 0;
    flex-direction: column;
  }
  
  #productmain > section div:first-of-type {
    width: 100%;
    align-self: center;
  }

  #productmain > section > div:nth-of-type(2) {
    width: 100%;
  }

  #productmain section div:nth-of-type(2) section:nth-of-type(2) ul li {
    font-size: .5em;
  }

  #productmain section div:nth-of-type(2) section:nth-of-type(3) article:first-of-type {
    font-size: .7em;
  }

  #productmain section div:nth-of-type(2) section:nth-of-type(3) article:nth-of-type(2) {
    font-size: .7em;
  }

  #productmain section div:nth-of-type(2) h1 {
    font-size: 2em;
  }

  #productmain > section div:nth-of-type(2) section:nth-of-type(3) {
    margin-bottom: 1em;
  }
  
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  background:black;
  opacity: 1;
  z-index: 998;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pop 7s;
  animation-iteration-count: 1;
  transform: translateY(-10000px)
}

.pattapop {
  width: 10em;
}

@keyframes pop {
0% {
  transform: translateY(0);

}

25% {
  transform: translateY(0);
}

100% {
    transform:translateY(-10000px);
}
}

@keyframes big {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes turn {
  0% {
    transform: rotate(0)
  }

  25% {
    transform: rotate(5deg)
  }

  50% {
    transform: rotate(-5deg)
  }

  100% {
    transform: rotate(0)
  }
}

@keyframes footer {
  0% {
    transform: translateX(0);
  }
  50% {
      transform:translateX(5em);
  }

  90% {
      transform:translateX(-5em) ;
  }

  95% {
    transform: translateX(5em);
  }

  100% {
    transform: translateX(0)
  }

}

