/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: Patta;
  src: url();
}

.pattalogo {
  display: block;
  width: 7em;
  margin-left: auto;
  margin-right: auto;
}

.h1 {
  font-family: "Helvetica Patta";
}

.home_1 {
  display: block;
  width: 3em;
}
